---
layout: default
---
<!--
<header>
  <h1>{{ site.title }}</h1>
  {%-if site.theme_config.show_description-%}
    <p>{{ site.description }}</p>
  {%-endif-%}
</header>
-->

<!-- work-in-progress
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>the labyrinth</title>
</head>

<body style="margin: 0; padding: 0; font-family: monospace; display: flex; height: 100vh;">
    <aside style="width: auto; background-color: #ffffff; color: #000000; display: flex; flex-direction: row; padding: 20px; box-sizing: border-box;">
        <h2 style="margin-top: auto; font-size: 20px; #30475e; padding: auto;">σ</h2>
        
        <nav style="display: flex; flex-direction: row; gap: 15px; margin-top: 20px;">
            <a href="#home" style="color: #000000; text-decoration: none; font-size: 16px; padding: 5px 0;">Home</a>
            <a href="#profile" style="color: #000000; text-decoration: none; font-size: 16px; padding: 5px 0;">Profile</a>
            <a href="#analytics" style="color: #000000; text-decoration: none; font-size: 16px; padding: 5px 0;">Analytics</a>
            <a href="#settings" style="color: #000000; text-decoration: none; font-size: 16px; padding: 5px 0;">Settings</a>
        </nav>
    </aside>
    
    <main style="flex: auto; padding: auto; background-color: #ffffffff; overflow-y: auto;">
        <h1 style="margin-top: 2em; color: #0000000;">welcome,</h1>
        <p style="color: #0000000; line-height: 1.6;">
		Lorem Ipsum Dolor Sit Amet
        </p>
    </main>
</body>
</html>

-->
{%-include menu_item.html collection=site.data.menu.entries-%}

{{ content }}
